{% extends 'admin/admin_base.html' %}

{% block title %}
    发表博文-{{ BlogInfo.query.first().title }}
{% endblock %}

{% block stylesheet %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='editor.md-master/css/editormd.css') }}">
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='editor.md-master/editormd.js') }}"></script>
    <script type="text/javascript">
        var testEditor;
        $(function() {
            testEditor = editormd("content-editormd", {
                width   : "100%",
                height  : 640,
                syncScrolling : "single",
                path    : "{{ url_for('static', filename='editor.md-master/lib/') }}",

                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true,  // 默认不解析

                imageUpload    : true,
                imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL : "/admin/upload"
            });
        });
    </script>
{% endblock %}

{% block admin_content %}
<div class="entry-box submit-article">
    <h4><strong>发表博文</strong></h4>
    <hr/>
    <form class="submit-article" method="post" action="">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.title.label(class='control-label') }}：
            {{ form.source(class='', required='') }}
            {{ form.title(class='submit-article-title', required='') }}（1-50字）
        </div>
        <div class="form-group">
            <div id="content-editormd">
                {{ form.content() }}
            </div>
        </div>
        <div class="form-group">
            {{ form.types.label(class='control-label') }}：
            {{ form.types() }}
        </div>
        <div class="form-group">
            {{ form.summary.label(class='control-label') }}（显示在博客首页）<br>
            {{ form.summary(class='submit-article-summary form-control', required='') }}
        </div>
        <div class="submit-article-button">
            <button type="submit" class="btn btn-success">提交</button>
        </div>
    </form>
</div>
{% endblock %}